<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>My CRUD App</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  
    <header>
      <div class="navbar">
        <h1>My CRUD App</h1>
        <nav>
          <a href="/">Home</a>  |
          <a href="/items">List Items</a>  |
          <a href="/features">Features</a>
        </nav>
      </div>
    </header>
    <div class="page-wrapper">

    <main class="container">
      {{{body}}}
    </main>
  </div>


  <footer>
    <p>&copy; 2025 My CRUD App | Created with ❤️ by Sukhwinder Kaur and Aditi Trivedi</p>
  </footer>
</body>
</html>
